# Assignment

We will work with a dataset of movies from IMDB included with the assignment; source: https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset?select=IMDb+movies.csv

Before you begin, run the code in this notebook to see the output. Go to the Cell menu, and press Run All.

In [1]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('IMDb movies.csv', low_memory=False)
df.year = pd.to_numeric(df.year, errors='coerce')  # replace some invalid year values with 'NaN'
df = df.dropna(subset=['year', 'actors'])  # drop rows with missing values in this column
df.shape

(85785, 22)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85785 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85785 non-null  object
 1   title                  85785 non-null  object
 2   original_title         85785 non-null  object
 3   year                   85785 non-null  float64
 4   date_published         85785 non-null  object
 5   genre                  85785 non-null  object
 6   duration               85785 non-null  int64
 7   country                85724 non-null  object
 8   language               84960 non-null  object
 9   director               85712 non-null  object
 10  writer                 84249 non-null  object
 11  production_company     81360 non-null  object
 12  actors                 85785 non-null  object
 13  description            83675 non-null  object
 14  avg_vote               85785 non-null  float64
 15  votes                  85785 non-null  int64
 16  budget                 23703 non-null  object
 17  usa_gross_income       15321 non-null  object
 18  worlwide_gross_income  30992 non-null  object
 19  metascore              13299 non-null  float64
 20  reviews_from_users     78206 non-null  float64
 21  reviews_from_critics   74010 non-null  float64
dtypes: float64(5), int64(2), object(15)
memory usage: 15.1+ MB

In [3]:
df.describe()

,year,duration,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics
count,85785.000000,85785.000000,85785.000000,8.578500e+04,13299.000000,78206.000000,74010.000000
mean,1993.491450,100.363700,5.898293,9.500494e+03,55.887962,46.062540,27.489447
std,24.216793,22.546805,1.234680,5.359558e+04,17.782702,178.567425,58.354913
min,1894.000000,41.000000,1.000000,9.900000e+01,1.000000,1.000000,1.000000
25%,1979.000000,88.000000,5.200000,2.050000e+02,43.000000,4.000000,3.000000
50%,2002.000000,96.000000,6.100000,4.850000e+02,57.000000,9.000000,8.000000
75%,2013.000000,108.000000,6.800000,1.769000e+03,69.000000,27.000000,23.750000
max,2020.000000,808.000000,9.900000,2.278845e+06,100.000000,10472.000000,999.000000

In [4]:
df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894.0,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906.0,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911.0,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912.0,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911.0,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [5]:
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

# Questions

For each question below, fill in the code to compute the answer. Each cell contains a template with the expected variable name and code that produces a wrong answer, but with the right type and format. Don't change the variable name or the type. Answers will be graded with automatic tests where possible.

In [6]:
# Example (will not be graded):
# 0. What is the longest movie?
# Template:
example = df.head(1)
# Replace with your code:
example = df.nlargest(1, 'duration')

In [7]:
# To show the result:
example

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85057,tt9047474,La flor,La flor,2016.0,2018-09-21,"Drama, Fantasy, Musical",808,Argentina,"Catalan, Spanish, French, English, Russian, Ge...",Mariano Llinás,...,"Elisa Carricajo, Valeria Correa, Pilar Gamboa,...","A film in six episodes, connected by the same ...",7.7,473,NaN,$ 4032,$ 4032,77.0,5.0,23.0

1. What are the top 5 movies with the highest value for "votes"?

In [8]:
mostratings = df.head(5)

2. In which years was 'David Fincher' a director of movies?

In [9]:
fincheryears = df['year']

3. What is the movie with the lowest `metascore` from the 2000s? (from 2000 up to and including 2009, 2010 does not count)

In [10]:
highestmeta = df.head(1)

4. What is the best rated (`avg_vote`) movie with Nicolas Cage? (NB: the actors are given as a string with a comma-separated list, you have to check whether Nicolas Cage is in that string)

In [11]:
cage = df.head(1)

5. What is the average (mean) US income (`usa_gross_income`) of movies directed by Steven Spielberg?

Note: for some movies, the value for usa_gross_income is missing; ignore those movies. You also need to strip the "$" from the income values and convert them to a numeric value.

In [12]:
spielbergincome = 0

6. Consider movies with a metascore of 90 or higher (universal acclam). Which year has the highest number of such movies? You could do this with groupby. You can count unique movies using the `imdb_title_id` column.

In [13]:
numacclaimed = pd.Series({1900: 1})

7a. Make a scatter plot of the median of the duration of movies in each year.

In [14]:
# create scatter plot

7b. Make a similar plot with the minimum duration instead of the mean.

In [15]:
# create scatter plot

8a. Is there a relationship between year and the [metascore](https://en.wikipedia.org/wiki/Metacritic#Metascores)? Make a scatter plot with year on the x-axis and metascore on the y-axis. Write down in a comment whether you think there could be a meaningful relationship based on what you see and background information on [Wikipedia](https://en.wikipedia.org/wiki/Metacritic#Metascores).

In [16]:
# create scatter plot

8b. What is the correlation coefficient?

In [17]:
corr = 0.5

9. Think of an interesting question involving two or more variables and answer it with a table or plot.

In [18]:
# your code here